<!--Basic username/password auth-->
<form name="loginForm" action="/server" method="POST" novalidate>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>