<html>
  <head>
    <title>WebTerm</title>
    <script src="
    https://cdn.jsdelivr.net/npm/xterm@5.1.0/lib/xterm.min.js
    "></script>
    <script src="/static/js/filemanager.js"></script>
    <link rel="stylesheet" href="/static/css/xterm.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <button id="toggle-button" onclick="openTerminal(8000)">Open Terminal</button>
    <div width="500" height="500" id="terminal"></div>

    <h1>Current Path</h1>
    {% for path in currentPath %}
      <span onclick='changeDirectory("{{username}}", "{{paths[loop.index - 1]}}")'>{{path}} > </span>
    {% endfor %}

    <h1>Files</h1>

    <h2>Create a file</h2>
    <textarea width="500" height="500" id="create-file"></textarea>
    <label for="file-form">File Name</label>
    <input type="text" id="create-file-name" placeholder="File Name">
    <button onclick='createFile("{{username}}")'>Create File</button>


    {% for i in files %}
      <p onclick='getContentsOfFile("{{username}}", "{{i[:-1]}}")'>{{i}}</p>
      <button onclick='deleteFile("{{username}}", "{{i[:-1]}}")'>Delete</button>
      <br>
      <!-- rename the file form-->
      <label for="rename">Rename</label>
      <input type="text" id="file-form-{{i[:-1]}}" name="rename" placeholder="New Name">
      <button onclick='renameFile("{{username}}", "{{i[:-1]}}")'>Rename</button>
    {% endfor %}
    <h1>Folders</h1>
    <p onclick='changeDirectory("{{username}}", "..")'>..</p>
    {% for i in folders %}
      <p onclick='changeDirectory("{{username}}", "{{i[:-1]}}")'>{{i}}</p>
    {% endfor %}

    <script src="/static/js/server.js"></script>
  </body>
</html>