<div>
  <div class="col-12">
    <h4>Files</h4>
    <hr />
  </div>
  <div class="d-flex flex-wrap">
    {% for i in files %}
    <div class="file-card card m-1 p-1 file" draggable="true" filename="{{i}}">
      <div class="dropdown">
        <a
          class="btn dropdown-toggle py-0 px-1 mw-100 text-truncate"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ><b>{{i}}</b></a
        >
        <ul class="dropdown-menu">
          <!--Edit-->
          <li>
            <!--If the file is an image or a pdf, then view it instead-->
            {% if i.endswith(".pdf") or i.endswith(".PDF") or
            i.endswith(".png") or i.endswith(".jpg") or i.endswith(".jpeg") or
            i.endswith(".gif") or i.endswith(".svg") or i.endswith("PNG") or
            i.endswith("JPG") or i.endswith("JPEG") or i.endswith("GIF") or
            i.endswith("SVG") %}
            <a class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#modal-{{i}}">View File</a>{% else %}
            <a
              onclick='populateModalContents("{{i}}")'
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#modal-{{i}}"
            >Edit File</a>{% endif %}
            
              
          </li>
          <!--Download-->
          <li>
            <a
              href='{{url_for("download", username=username, filename=i)}}'
              download
              id="download"
              class="dropdown-item"
              >Download</a
            >
          </li>
          <!--Rename-->
          <li>
            <a
              data-bs-toggle="modal"
              data-bs-target="#rename-{{i}}"
              class="dropdown-item"
            >
              Rename
            </a>
          </li>
          <!--Delete-->
          <li>
            <a class="dropdown-item" onclick='deleteFile("{{i}}")'>Delete</a>
          </li>
        </ul>
      </div>
      {% if i.endswith(".pdf") or i.endswith(".PDF") %}
      <div class="card-body overflow-auto" style="max-height: 150px">
        
        <object
          style="height: 100%; width: 100%"
          data="/download/{{username}}/{{i}}"
        ></object>
        
          
        
        
      </div>
      <!--Embed images in a img tag-->
      {% elif i.endswith(".png") or i.endswith(".jpg") or i.endswith(".jpeg") or
      i.endswith(".gif") or i.endswith(".svg") or i.endswith("PNG") or
      i.endswith("JPG") or i.endswith("JPEG") or i.endswith("GIF") or
      i.endswith("SVG") %}

      <img
        class="card-img-bottom overflow-auto"
        style="max-height: 150px"
        src="/download/{{username}}/{{i}}"
        alt="{{i}}"
      />
      {% else %}
      <div
        class="card-body textfile overflow-auto p-1"
        style="max-height: 150px"
        filename="{{i}}"
      ></div>
      {% endif %}
    </div>
    <!-- Renaming Modal -->
    <div
      id="rename-{{i}}"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="rename-{{i}}Label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rename-{{i}}Label">Rename {{i}}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <input
              type="text"
              id="file-form-{{i}}"
              name="rename"
              placeholder="New Name"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              onclick='renameFile("{{i}}")'
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Rename
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Model -->
    <div
      class="modal fade"
      id="modal-{{i}}"
      tabindex="-1"
      aria-labelledby="modal-{{i}}Label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-{{i}}Label">
              {% if i.endswith(".pdf") or i.endswith(".PDF") or
              i.endswith(".png") or i.endswith(".jpg") or i.endswith(".jpeg") or
              i.endswith(".gif") or i.endswith(".svg") or i.endswith("PNG") or
              i.endswith("JPG") or i.endswith("JPEG") or i.endswith("GIF") or
              i.endswith("SVG") %} Viewing {% else %} Editing {{i}}
              
              <!--If the file is a java file or a python file then enable running code-->
              {% if i.endswith(".java") or i.endswith(".py") %}
              <button onclick='runCode("{{i}}")' id="run-{{i}}">
                Save and Run
              </button>
              {% endif %}
              {% endif %}
            </h5>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body overflow-hidden">
            {% if i.endswith(".png") or i.endswith(".jpg") or
            i.endswith(".jpeg") or i.endswith(".gif") or i.endswith(".svg") or
            i.endswith("PNG") or i.endswith("JPG") or i.endswith("JPEG") or
            i.endswith("GIF") or i.endswith("SVG") or i.endswith(".pdf") or i.endswith(".PDF") %}

            {% if i.endswith(".pdf") or i.endswith(".PDF") %}
            
              <object
                style="height: 100%; width: 100%"
                data="/downloadpdf/{{username}}/{{i}}"
              ></object>
            <!--Embed images in a img tag-->
            {% else %}

            <img
              src="/download/{{username}}/{{i}}"
              alt="{{i}}"
            />
            {% endif %}
            {% else %}
            <!--We put the contents of the file in this textarea-->
            <div class="root">
              <div
                class="monoco-container"
                id="modal-{{i}}-contents"
                style="border: 1px solid black; height: 100%"
              ></div>
              {% if i.endswith(".java") or i.endswith(".py") %}
                  <!--We put the terminal in this div-->
                  <div style="width: 400px; height: 100%">
                    <div
                      class="terminal"
                      id="modal-{{i}}-terminal"
                      style="border: 1px solid black; height: 100%"
                    ></div>
                  </div>
              {% endif %}

            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            {% if i.endswith(".png") or i.endswith(".jpg") or
            i.endswith(".jpeg") or i.endswith(".gif") or i.endswith(".svg") or
            i.endswith("PNG") or i.endswith("JPG") or i.endswith("JPEG") or
            i.endswith("GIF") or i.endswith("SVG") %} {% else %}
            <button
              onclick='editFile("{{i}}")'
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Save changes
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

<!--
<div
  class="file"
  width="100%"
  height="200px"
  style="border: 1px solid black"
  draggable="true"
  filename="{{i}}"
>
  <p onclick='getContentsOfFile("{{i}}")'>{{i}}</p>

</div>


-->
