<html>
  <head>
    <title>WebTerm</title>
    <script src="
    https://cdn.jsdelivr.net/npm/xterm@5.1.0/lib/xterm.min.js
    "></script>
    <script>
      var terminalSpawnedAlready = false;
      var open = false;
      function switchButton(port) {
        var button = document.getElementById("toggle-button")
        //already open and we click to close it - hide terminal with css
        if (open) {
          //turn button into close button
          button.innerHTML = "Open Terminal"
          button.onclick = () => openTerminal(port)
        } else {
          //closed and we click to open it
          //turn button into close button
          button.innerHTML = "Close Terminal"
          button.onclick = () => closeTerminal(button, port)
        }
        open = !open
      }

      function closeTerminal(button, port) {
        switchButton(port)
        document.getElementById("terminal").style.display = "none"
      }
      function openTerminal(port) {
        switchButton(port)
        if (terminalSpawnedAlready) {
          document.getElementById("terminal").style.display = "block"
          return
        } else {
          var Socket = window.MozWebSocket || window.WebSocket;
          socket = new Socket('ws://' + location.hostname + ':' + port);
          socket.onopen = function() {
            var term = new Terminal({
              cols: 100,
              rows: 50,
              convertEol: true,
              useStyle: true,
              cursorBlink: true,
              screenKeys: true
            });

            term.onData(function(data) {
              socket.send(data);
            });

            term.open(document.getElementById('terminal'));

            socket.onmessage = function(event) {
              term.write(event.data);
            };

            socket.onclose = function() {
              term.destroy();
            };
          };

          terminalSpawnedAlready = true
        }
      };

      async function getContentsOfFile(username, filename) {
        //query /getFileData with get request, username and filename in querystring
        
        const response = await fetch(`/getFileData?username=${username}&filename=${filename}`);
        const jsonData = await response.json();
        alert(jsonData);


      }

      async function changeDirectory(username, directory) {
        //query /cd with get request, username and directory in querystring
        const response = await fetch(`/cd?username=${username}&directory=${directory}`);

        window.location.reload()
      }
    </script>
  </head>
  <link rel="stylesheet" href="/static/xterm.css" />
  <body>
    <button id="toggle-button" onclick="openTerminal(8000)">Open Terminal</button>
    <div width="500" height="500" id="terminal"></div>
    <p>path: {{currentPath}}</p>
    <h1>Files</h1>
    {% for i in files %}
      <p onclick='getContentsOfFile("{{username}}", "{{i[:-1]}}")'>{{i}}</p>
    {% endfor %}
    <h1>Folders</h1>
    <p onclick='changeDirectory("{{username}}", "..")'>..</p>
    {% for i in folders %}
      <p onclick='changeDirectory("{{username}}", "{{i[:-1]}}")'>{{i}}</p>
    {% endfor %}
    
  </body>
</html>