<html>
  <head>
    <title>WebTerm</title>
    <script src="
    https://cdn.jsdelivr.net/npm/xterm@5.1.0/lib/xterm.min.js
    "></script>
    <script src="/static/js/filemanager.js"></script>
    <script src="/static/js/server.js"></script>
  </head>
  <link rel="stylesheet" href="/static/css/xterm.css" />
  <body>
    <button id="toggle-button" onclick="openTerminal(8000)">Open Terminal</button>
    <div width="500" height="500" id="terminal"></div>

    <h1>Current Path</h1>
    {% for path in currentPath %}
      <span onclick='changeDirectory("{{username}}", "{{paths[loop.index - 1]}}")'>{{path}} > </span>
    {% endfor %}

    <h1>Files</h1>
    {% for i in files %}
      <p onclick='getContentsOfFile("{{username}}", "{{i[:-1]}}")'>{{i}}</p>
      <button onclick='deleteFile("{{username}}", "{{i[:-1]}}")'>Delete</button>
    {% endfor %}
    <h1>Folders</h1>
    <p onclick='changeDirectory("{{username}}", "..")'>..</p>
    {% for i in folders %}
      <p onclick='changeDirectory("{{username}}", "{{i[:-1]}}")'>{{i}}</p>
    {% endfor %}
    
  </body>
</html>