<div>
  <div class="col-12">
    <h4>Folders</h4>
    <hr />
  </div>
  <div class="d-flex flex-wrap">
    {% for i in folders %}
    <div
      foldername="{{i}}"
      class="folder btn-group border m-1"
      draggable="true"
    >
      <button
        onclick='changeDirectory("{{i}}")'
        type="button"
        class="btn btn-light"
      >
        {{i}}
      </button>
      <button
        type="button"
        class="btn btn-light dropdown-toggle dropdown-toggle-split"
        id="dropdownMenuReference"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-reference="parent"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <li>
            <!--Rename should open a bootstrap modal-->
  
            <!-- Button trigger modal -->
  
            <a
              data-bs-toggle="modal"
              data-bs-target="#rename-{{i[:-1]}}"
              class="dropdown-item"
            >
              Rename
            </a>
          </li>
        <li>
          <a onclick='deleteDirectory("{{i}}")' class="dropdown-item" href="#">
            Delete
          </a>
        </li>
      </ul>
    </div>

    <!-- Modal -->
    <div
      id="rename-{{i[:-1]}}"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="rename-{{i[:-1]}}Label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rename-{{i[:-1]}}Label">
              Rename {{i}}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <input
              type="text"
              id="folder-form-{{i}}"
              name="rename"
              placeholder="New Name"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              onclick='renameDirectory("{{i}}")'
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Rename
            </button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
