<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
    </head>
    <body>
        <h1>Search for {{filename}}</h1>
        <p>We found a total of {{filepaths|length}} files</p>
        <p>Here are the files we found:</p>
        {% for i in filepaths %}
            <p onclick='getContentsOfFile("{{username}}", "{{i}}")'>{{i}}</p>
        {% endfor %}
        
        <a href="/file_system">Go back to the file system</a>
    </body>
    <script src="/static/js/filemanager.js"></script>
</html>