<html>
  <head>
    <title>WebTerm</title>
    <script src="
    https://cdn.jsdelivr.net/npm/xterm@5.1.0/lib/xterm.min.js
    "></script>
    <script>
      function openTerminal(port) {
        var Socket = window.MozWebSocket || window.WebSocket;
        socket = new Socket('ws://' + location.hostname + ':' + port);
        socket.onopen = function() {
          var term = new Terminal({
            cols: 100,
            rows: 50,
            convertEol: true,
            useStyle: true,
            cursorBlink: true,
            screenKeys: true
          });

          term.onData(function(data) {
            socket.send(data);
          });

          term.open(document.getElementById('terminal'));

          socket.onmessage = function(event) {
            term.write(event.data);
          };

          socket.onclose = function() {
            term.destroy();
          };
        };
      };
    </script>
  </head>
  <link rel="stylesheet" href="/static/xterm.css" />
  <body>
    <button onclick="openTerminal(8000)">Open Terminal</button>
    <div width="500" height="500" id="terminal"></div>
    {% for i in files %}
      <p>{{i}}</p>
    {% endfor %}
    
  </body>
</html>